<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Blog Avanzado" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
<% if user_signed_in? %>
  <p class="bg-green-100 text-green-800 px-4 py-2 rounded mb-4">
    Bienvenido, <strong><%= current_user.email %></strong> |
 <%# Reemplaza el enlace con un formulario de cierre de sesión %>
        <%= form_with(url: destroy_user_session_path, method: :delete, class: "inline") do %>
          <%= submit_tag 'Cerrar sesión', class: "text-red-600 bg-transparent border-0 cursor-pointer" %>
        <% end %>
      </p>
    <% else %>
  <p class="bg-blue-100 text-blue-800 px-4 py-2 rounded mb-4">
    <%= link_to 'Iniciar sesión', new_user_session_path, class: "mr-2" %>
    <%= link_to 'Registrarse', new_user_registration_path %>
  </p>
<% end %>

    <%= yield %>
  </body>
</html>
